<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goodbe.search.mapper.EduMapper">

	<select id="selectEdu" resultType="Edu"> 
		select edu_id as eduId,
               title,
               title_link as titleLink,
               company,
               company_link as companyLink,
               tel as telNO,
               address,
               content,
               period,
               onoff,
               expense,
               real_expense as realExpense,
               detail,
               man
		from edu; 
	</select>

	<select id="selectEduDataByKeyword" parameterType="java.util.List" resultType="Edu">
		select edu_id as eduId,
               title,
               title_link as titleLink,
               company,
               company_link as companyLink,
               tel as telNO,
               address,
               content,
               period,
               onoff,
               expense,
               real_expense as realExpense,
               detail,
               man
        from edu
        <where>
            <foreach item="item" index="index" collection="list">
                <if test="index == 0">
                    title like #{item}
                    or company like #{item}
                    or detail like #{item}
                    or content like #{item}
                </if>
                <if test="index != 0">
                    or title like #{item}
                    or company like #{item}
                    or detail like #{item}
                    or content like #{item}
                </if>
            </foreach>
            ;
        </where>
    </select>
</mapper>