<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goodbe.search.mapper.JobPostMapper">

	<select id="selectJobData" resultType="JobPost">
        select job_id as jobId,
               company_name as companyName,
               wanted_title as wantedTitle,
               company_url as companyUrl,
               degree,
               major,
               address,
               work_address as workAddress,
               preference,
               certificate,
               job_content as jobContent,
               sal,
               employment_form as employmentForm,
               end_date as endDate
        from job_post;
    </select>

    <select id="selectJobDataByKeyword" parameterType="java.util.List" resultType="JobPost">
        select job_id as jobId,
               company_name as companyName,
               wanted_title as wantedTitle,
               company_url as companyUrl,
               degree,
               major,
               address,
               work_address as workAddress,
               preference,
               certificate,
               job_content as jobContent,
               sal,
               employment_form as employmentForm,
               end_date as endDate
        from job_post
        <where>
            <foreach item="item" index="index" collection="list">
                <if test="index == 0">
                    company_name like #{item}
                    or wanted_title like #{item}
                    or degree like #{item}
                    or major like #{item}
                    or certificate like #{item}
                    or preference like #{item}
                    or job_content like #{item}
                </if>
                <if test="index != 0">
                    or company_name like #{item}
                    or wanted_title like #{item}
                    or degree like #{item}
                    or major like #{item}
                    or certificate like #{item}
                    or preference like #{item}
                    or job_content like #{item}
                </if>
            </foreach>
            ;
        </where>
    </select>
</mapper>
