<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goodbe.search.mapper.JobPostMapper">

	<select id="selectJobData" resultType="JobPost">
        select jobId as edu_id,
               companyName as company_name,
               wantedTitle as wanted_title,
               companyUrl as company_url,
               degree,
               major,
               address,
               workAddress as work_address,
               preference,
               certificate,
               jobContent as job_content,
               sal,
               employmentForm as employment_form,
               endDate as end_date
        from job_post;
    </select>

    <select id="selectJobDataByKeyword" parameterType="java.util.List" resultType="JobPost">
        select jobId as edu_id,
               companyName as company_name,
               wantedTitle as wanted_title,
               companyUrl as company_url,
               degree,
               major,
               address,
               workAddress as work_address,
               preference,
               certificate,
               jobContent as job_content,
               sal,
               employmentForm as employment_form,
               endDate as end_date
        from job_post
        <where>
            <foreach item="item" index="index" collection="list">
                <if test="index == 0">
                    company_name like #{item}
                    or wanted_title like #{item}
                    or degree like #{item}
                    or major like #{item}
                    or certificate like #{item}
                    or preference like #{item}
                    or jobContent like #{item}
                </if>
                <if test="index != 0">
                    or company_name like #{item}
                    or wanted_title like #{item}
                    or degree like #{item}
                    or major like #{item}
                    or certificate like #{item}
                    or preference like #{item}
                    or jobContent like #{item}
                </if>
            </foreach>
            ;
        </where>
    </select>
</mapper>
