<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <form action="board" method="post">
        <input type="text" hidden id="id"  value="123">
        <input type="text" id="title" placeholder="제목">
        <textarea id="content" placeholder="내용"></textarea>
        <input type="number" id="type" placeholder="게시판 종류">
        <button type="submit">제출</button>
   </form>
</body>
</html>
