<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <!-- 스크립트 파일의 상대 경로 수정 -->
  <script type="text/javascript" src="js/HuskyEZCreator.js" charset="utf-8"></script>
</head>

<body>
  <h3>Naver Smart Editor 2.0</h3>
  <form action="insertStudentInfoForm" method="post">
    <div id="smarteditor">
      <textarea name="editorTxt" id="editorTxt111" rows="20" cols="10" placeholder="내용을 입력해주세요ㅜㅜ"
        style="width: 500px"></textarea>
    </div>
    <input type="button" />
  </form>

  <script>
    let oEditors = [];

    function smartEditor() {
      console.log("Naver SmartEditor");
      if (typeof nhn !== 'undefined' && nhn.husky && nhn.husky.EZCreator) {
        nhn.husky.EZCreator.createInIFrame({
          oAppRef: oEditors,
          elPlaceHolder: "editorTxt111",
          // 스킨 파일의 상대 경로 수정
          sSkinURI: "SmartEditor2Skin.html",
          fCreator: "createSEditor2"
        });
      }
    }

    $(document).ready(function () {
      smartEditor();
    });
  </script>
</body>

</html>
